<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="wxappid" value="wx02df9beda48bff15"/>
    <add key="wxappsecret" value="26f8f072c53e97d0033e3589e7de4e84"/>
    <add key="paysecret" value="6N3T5Prm5zGOnTHuNrFRfSfEuc8uO9hP"/>
    <add key="mchid" value="10022303"/>
  </appSettings>
</configuration>